{% extends 'base.html' %}

{% block content %}
<div style="margin:50px; background-color: white; font-size: 18px; border:2px solid rgb(100, 0, 0); border-radius:10px;">
<div style="font-size: 30px; text-align:center;">
   Register
</div>
<form action="/registration/" method="POST">
    {% for field in form %}
    <div>
        <div class="row" style="padding:5px">
        <div class="col-2"></div>
            <div class="col-4">
            {{field.label}}:
        </div>
        <div class="col-4">
            {{field}}
        </div>
            <div class="col-2"></div>
    </div>
    </div>
    {% endfor %}
    {% csrf_token %}
    <div style="text-align:center; padding:20px;">
    <button>Register</button>
    </div>
</form>
</div>
{% endblock %}

{% block links %}
<a href="{% url 'index' %}">To main page</a>
{% endblock%}
